#binpress-product-widget {
	margin:auto;	
}
#binpress-product-widget *, #binpress-product-widget div, #binpress-product-widget h3, #binpress-product-widget a, #binpress-product-widget ul, #binpress-product-widget li, #binpress-product-widget ul li,#binpress-product-widget div ul, #binpress-product-widget img, #binpress-product-widget p, #binpress-product-widget span {
	border:0; padding:0;margin:0; float:none; text-align: inherit; background:transparent; position:static; text-decoration: none !important;
}
#binpress-product-widget a {
	color:white;
}
#binpress-product-widget .component {
	position:relative;
	min-height:94px;
	max-width:345px;
	background: #2e2e2e;
}
#binpress-product-widget .component p {
	padding: 20px;
	font:.8em/1.8em Arial;
	color: white;
	clear: both;
}
#binpress-product-widget .component h3 {
	padding-top: 25px;
	font:1.1em/1.2em Arial;
	padding-right: 20px;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
#binpress-product-widget .component h3 a{
	color:white;
}
#binpress-product-widget .component .component-thumb{
	display: block;
	float: left;
	margin: 20px 20px 0 20px;
}
#binpress-product-widget .component-details{
	background: #0A0A0A;
	position: relative;
	padding-left: 20px;
}
#binpress-product-widget .component-details .component-details-col-left,
#binpress-product-widget .component-details .component-details-col-right{
	float: left;
}
#binpress-product-widget .component-details .component-details-col-left{
	width: 55%;
}
#binpress-product-widget .component-details .component-details-col-right{
	width: 45%;
}
#binpress-product-widget .component-details .properties{
	padding: 10px;	
}
#binpress-product-widget .component-details .properties li {
	display: inline;
	font-size: .8em;
	font-weight: bold;
}
#binpress-product-widget .component-details .properties li:after{
	content: ', ';
}
#binpress-product-widget .component-details .properties li:last-child:after{
	content: '';
}
#binpress-product-widget #created-by a{
	color:#373737;
}


.ie7 #binpress-product-widget .component-details .properties li {
	display:inline;
}
/** Rating stars **/
#binpress-product-widget .rating {
	margin-top:3px;
	overflow:auto;
	list-style:none;
}
#binpress-product-widget .rating li {
	float:left;
	background:url(http://cdn.binpress.com/stars-orange.png) center -92px no-repeat;
	list-style:none;
	height:16px;	
	width:15px;
	margin: 0;
}
#binpress-product-widget .rating .icon-star {
	background-position: center -127px;
}
#binpress-product-widget .rating .icon-half-star {
	background-position: center -146px;
}
#binpress-product-widget .rating .empty {
	background-position: center -92px;
}
#binpress-product-widget .rating span {
	font-size: 9pt;
	text-align:center;
	color: #FFF;
	clear:both;
}

/* Button */
#binpress-product-widget .cta {
	display:block;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	background: #d4360e;
	color: white;
	font-weight: bold;
	border-bottom: 2px solid #b22d0c;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-transition: background 200ms linear, border 200ms linear;
	-moz-transition: background 200ms linear, border 200ms linear;
	-ms-transition: background 200ms linear, border 200ms linear;
	-o-transition: background 200ms linear, border 200ms linear;
	transition: background 200ms linear, border 200ms linear;
	padding: 10px;
}

#binpress-product-widget .cta:hover {
	text-decoration: none;
	background: #ea471d;
	border-bottom-color: #c23613;
}

#binpress-product-widget #created-by {
	font-size:9pt; float:right;
	margin-top:5px;
}